
.ratings-section{
    display: flex;
    justify-content: space-between;
}
#ratings-section1{
    margin: 0 10% 1%;
}
#ratings-section1 > h3{
    font-size: 200%;
    font-weight: bold;
    color: #686D8F;
}
#ratings-section2{
    margin: 1% 25% 0 10%;
    padding: 0 0 4%;
    width: 65%;
    font-size: 150%;
    color: #686D8F;
    display: flex;
    justify-content: space-between;
}
#ratings-section2 > p{
    width: 70%;
}
#ratings-section2 > h4{
    color: #F50D63;
}
#star-container{
    width: 20%;
}
.star{
    margin: 0 3%;
}
